<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!--处理器映射器-->
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
	<!--处理器适配器-->
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
	<!--视图解析器-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	      id="InternalResourceViewResolver">
		<!--前缀-->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!--后缀-->
		<property name="suffix" value=".jsp"/>
 	</bean>
	
	<bean id="/hello" class="com.gong.controller.HelloController"/>

</beans>